body {
    font-family: 'PT Mono', monospace;
    background-color: #212121;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: white;*/
    padding: 20px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.title, .description {
    display: flex;   
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

main {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;  
}
  
button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
