body {
    font-family: 'PT Mono', monospace;
    background-color: rgb(25, 85, 126);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(25, 85, 126);
}

.title, .description {
    display: flex;   
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

main {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 20px;
    font-family: 'PT Mono', monospace;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    color: rgb(25, 85, 126);
}