<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&family=PT+Mono&family=Rajdhani&family=Reem+Kufi+Fun&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/editor.css">
    <title>Editor</title>
</head>
    <body>
        <header>
            <a href="/">Brainstormer</a>
            <a href="/editor">Ideas editor</a>
            <a href="/">Brainstorminator</a>
            <a href="/accunt">Sign In</a>
            <a href="/account">Sign Up</a>
        </header>
    </body>
</html>